header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;

    .user-profile {
        position: relative;
        display: flex;
        gap: 1rem;

        button {
            border: none;
            background-color: transparent;

            .notifications-icon {
                cursor: pointer;
                width: 30px;
                aspect-ratio: 1/1;
                filter: invert(8%) sepia(9%) saturate(7%) hue-rotate(314deg) brightness(102%) contrast(91%);
            }

            .user-profile-icon {
                cursor: pointer;
                width: 30px;
                aspect-ratio: 1/1;
                filter: invert(8%) sepia(9%) saturate(7%) hue-rotate(314deg) brightness(102%) contrast(91%);
            }
        }

        .user-profile-dialogue {
            display: none;
        }

        .user-profile-dialogue[data-visible="true"] {
            display: block;
            display: flex;
            flex-direction: column;
            position: absolute;
            background-color: var(--bg-white);
            border-radius: 10px;
            padding: .5rem;
            top: 0;
            margin-top: 2rem;
            right: 0;
            gap: 1rem;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

            .user-profile-dialogue-items {

                button {
                    width: 100%;
                    cursor: pointer;
                    background-color: transparent;
                    border: none;
                    padding: .5rem;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    gap: .5rem;
                    color: var(--gray);
                    font-weight: var(--fontWRegular);
                    font-size: var(--fontSize-sm);

                    img {
                        width: 20px;
                        aspect-ratio: 1/1;
                        filter: invert(8%) sepia(9%) saturate(7%) hue-rotate(314deg) brightness(102%) contrast(91%);
                    }

                }

                button:hover {
                    background-color: var(--bg-color);
                }
            }

            button {
                color: var(--red);
                font-size: var(--fontSize-sm);
                font-weight: var(--fontWRegular);
            }
        }
    }

    .search {
        width: 350px;
        border: 1px solid #1e1e1e;
        border-radius: 20px;
        height: 50px;
        background-color: var(--bg-white);
        display: flex;
        justify-content: start;
        padding: .5rem;
        align-items: center;
        gap: .5rem;

        .search-icon {
            width: 30px;
            aspect-ratio: 1/1;
            filter: invert(8%) sepia(9%) saturate(7%) hue-rotate(314deg) brightness(102%) contrast(91%);
        }

        p {
            color: var(--gray);
            text-transform: capitalize;
            font-size: var(--fontSize-sm);
            font-weight: var(--fontWRegular);
        }
    }

    .logout-container {
        justify-content: end;
    }

    .dashboard-logout-btn {
        color: var(--bg-white);
        border: 1px solid var(--bg-white);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.view-book {
    display: none;
    animation-name: fadeIn;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
}

.view-book[data-visible="true"] {
    display: block;
    position: absolute;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--modal-bg);
    display: flex;
    justify-content: center;
    align-items: center;

    .view-book-close-icon-container {
        display: flex;

        .view-book-close-icon {
            justify-self: end;
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
    }

    .pdf-viewer-container {
        display: flex;
        flex-direction: column;
    }

    .pdf-viewer-navigation-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #canvas_container {
        width: 800px;
        height: 450px;
        overflow: auto;
    }

    #canvas_container {
        background: #333;
        text-align: center;
        border: solid 3px;
    }

}


.user-profile-modal-container {
    display: none;
    animation-name: fadeIn;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
}

.user-profile-modal-container[data-visible="true"] {
    display: block;
    position: absolute;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--modal-bg);
    display: flex;
    justify-content: center;
    align-items: center;

    .user-profile-modal {
        border-radius: 10px;
        padding: 1.5rem;
        background-color: var(--bg-white);
        width: 700px;
    }

    .user-profile-modal-title-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;

        h1 {
            font-size: var(--fontSize-md);
            font-weight: var(--fontWBold);
            color: var(--gray);
        }
    }

    .user-profile-modal-info-container[data-visible="false"] {
        display: none;
    }

    .user-profile-modal-info-container {
        display: flex;
        flex-direction: column;
    }


    .user-profile-modal-info {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 1rem;
    }

    .user-profile-modal-form-container {
        display: none;
    }

    .user-profile-modal-form-container[data-visible="true"] {
        display: block;
        display: flex;
        flex-direction: column;

        button {
            width: 100px;
        }
    }

    .user-profile-modal-info-1 {
        display: flex;
        width: 100%;
        gap: 1rem;
    }

    .user-profile-modal-info-2 {
        display: flex;
        width: 100%;
        gap: 1rem;
    }

    .user-profile-modal-info-3 {
        display: flex;
        flex-direction: column;
        gap: .3rem;

        h1 {
            font-size: var(--fontSize-md);
            font-weight: var(--fontWBold);
            color: var(--gray);
        }

        p {
            padding: .5rem;
            border-radius: 10px;
            border: 1px solid var(--gray);
            width: 100%;
            color: var(--gray);
        }
    }

    .user-info {
        display: flex;
        flex-direction: column;
        gap: .3rem;

        h1 {
            font-size: var(--fontSize-md);
            font-weight: var(--fontWBold);
            color: var(--gray);
        }

        p {
            padding: .5rem;
            border-radius: 10px;
            border: 1px solid var(--gray);
            width: 200px;
            color: var(--gray);
        }
    }

    /* Form input styles */

    .user-profile-modal-form-1 {
        display: flex;
        width: 100%;
        gap: 1rem;
    }

    .user-profile-modal-form-2 {
        display: flex;
        flex-direction: column;
        gap: .3rem;

        label {
            font-size: var(--fontSize-md);
            font-weight: var(--fontWBold);
            color: var(--gray);
        }

        input {
            padding: .5rem;
            border-radius: 10px;
            border: 1px solid var(--gray);
            width: 100%;
            color: var(--gray);
        }
    }

    .user-form {
        display: flex;
        flex-direction: column;
        gap: .3rem;

        label {
            font-size: var(--fontSize-md);
            font-weight: var(--fontWBold);
            color: var(--gray);
        }

        input {
            padding: .5rem;
            border-radius: 10px;
            border: 1px solid var(--gray);
            width: 200px;
            color: var(--gray);
        }
    }

    .user-profile-modal-form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .user-profile-modal-form-btn {
        display: flex;
        justify-content: end;
        gap: .5rem;
    }

    .user-profile-modal-close-icon,
    .user-profile-modal-edit-icon {
        cursor: pointer;
        width: 25px;
    }

    .user-profile-modal-close-icon {
        filter: var(--icon-clr);
    }

    .user-profile-modal-edit-icon {
        filter: var(--icon-blue);
    }
}

.dashboard-notification-main-container {
    display: none;
    animation-name: fadeIn;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
}

.dashboard-notification-main-container[data-visible="true"] {
    display: block;
    position: absolute;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--modal-bg);

    .dashboard-notification-container {
        width: 60%;
        height: 60%;
        border-radius: 10px;
        padding: 1rem;
        background-color: var(--bg-white);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .dashboard-notification-title-container {
            display: inherit;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-bottom: 1rem;

            h1 {
                font-size: var(--fontSize-md);
                font-weight: var(--fontWSemi);
                color: var(--gray);
            }

            button {
                border: none;
                background-color: transparent;
                display: inherit;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                img {
                    filter: var(--icon-clr);
                    width: 25px;
                    height: 25px;
                }
            }
        }

        .dashboard-notification {
            display: inherit;
            flex-direction: inherit;
            height: 100%;
            overflow-x: scroll;

            .dashboard-notification-content {
                border-bottom: 1px solid var(--gray);
                display: flex;
                flex-direction: column;
                padding: .3rem;
                gap: .5rem;

                h1 {
                    font-size: var(--fontSize-sm);
                    font-weight: var(--fontWSemi);
                    color: var(--gray);
                    margin-bottom: .3rem;
                }

                p {
                    font-size: var(--fontSize-sm);
                    font-weight: var(--fontWRegular);
                    color: var(--gray);
                }

                span {
                    font-size: var(--fontSize-sm);
                    font-weight: var(--fontWSemi);
                    color: var(--gray);
                }
            }
        }
    }
}

.section-1-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 200px;
    gap: 1rem;
    border-radius: 10px;
    background-color: #1e1e1e;
    padding: 1rem;

    .section-1-welcome-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        h1 {
            color: var(--bg-white);
            font-size: 60px;
            font-weight: var(--fontWBold);
        }

        p {
            color: #c5c5c5;
            font-size: var(--fontSize-sm);
            font-weight: var(--fontWRegular);

            span {
                color: var(--bg-white);
            }
        }
    }

    .section-1-card-container {
        display: flex;
        height: 100%;
        gap: 1rem;

        .section-1-card-borrowed {
            border-radius: 10px;
            background-color: var(--bg-white);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 1.5rem;
            padding-bottom: 3rem;
            width: 250px;
            height: 100%;
            gap: .5rem;

            h1 {
                width: 100%;
                font-size: var(--fontSize-md);
                font-weight: var(--fontWSemi);
                color: var(--gray);
            }

            div {
                display: flex;
                width: 50%;
                justify-self: center;
                align-self: center;

                h1 {
                    color: var(--blue);
                    font-weight: var(--fontWSemi);
                    font-size: 110px;
                    line-height: 100px;
                }

                span {
                    align-self: end;
                    color: var(--gray);
                    font-size: var(--fontSize-sm);
                    font-weight: var(--fontWSemi);
                }
            }
        }

        .section-1-card-requested {
            border-radius: 10px;
            background-color: var(--bg-white);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 1.5rem;
            padding-bottom: 3rem;
            width: 250px;
            height: 100%;
            gap: .5rem;

            h1 {
                width: 100%;
                font-size: var(--fontSize-md);
                font-weight: var(--fontWSemi);
                color: var(--gray);
            }

            div {
                display: flex;
                width: 50%;
                align-self: center;

                h1 {
                    color: var(--orange);
                    font-weight: var(--fontWSemi);
                    font-size: 110px;
                    line-height: 100px;
                }

                span {
                    align-self: end;
                    color: var(--gray);
                    font-size: var(--fontSize-sm);
                    font-weight: var(--fontWSemi);
                }
            }
        }
    }
}

.table-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #1e1e1e;
    border-radius: 10px;
    background-color: var(--bg-white);
    padding: 1rem 2rem;

    h1 {
        font-size: var(--fontSize-lg);
        color: var(--gray);
        font-weight: var(--fontWSemi);
    }

    .table-title-container {
        display: flex;
        gap: .5rem;

        hr {
            border: 1px solid var(--gray);
            margin: 0 1rem;
        }

        h1,
        h2 {
            cursor: pointer;
            font-size: var(--fontSize-md);
            color: #909090;
            font-weight: var(--fontWSemi);
            transition: color 0.3s ease;
        }

        .title-clicked {
            color: var(--blue);
        }
    }

    .table[data-visible="true"] {
        display: block;
    }

    .table {
        animation-name: fadeIn;
        animation-duration: 0.3s;
        animation-timing-function: ease-in-out;
        display: none;
        margin-top: 1rem;
        width: 100%;
        height: 300px;
        overflow-y: scroll;

        table {
            width: 100%;
            max-height: 10px;
            border-spacing: 0px;

            thead {
                th {
                    color: var(--gray);
                    width: 20%;
                    border-collapse: collapse;
                    padding: 20px 0;
                    border-bottom: 2px solid var(--gray);
                }
            }

            tbody {
                tr {
                    padding: 0 .5rem;
                    text-align: center;
                    cursor: pointer;

                    td {
                        color: var(--gray);
                        padding: 15px 0;
                        text-transform: capitalize;
                    }
                }

                .table-row.active {
                    background-color: #5e5e5e48;
                }

                .table-row-no-result {
                    padding: 1rem 2rem;
                    text-align: center;
                    font-weight: var(--fontWBold);
                    color: var(--gray);
                }
            }
        }
    }

    .table.waitList-table-container {
        table {
            thead {
                th {
                    width: 25%;
                    border-bottom: none;
                }

            }
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 5rem;
}