header {
    background-color: var(--blue);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;

    div {
        width: 33%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .user-profile-icon {
        margin-right: 1rem;
        cursor: pointer;
        width: 40px;
        aspect-ratio: 1/1;
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(323deg) brightness(101%) contrast(103%);
    }

    h2 {
        color: var(--bg-white);
        font-size: var(--fontSize-lg);
        font-weight: var(--fontWBold);
    }

    .search {
        width: 350px;
        border-radius: 10px;
        height: 35px;
        background-color: var(--bg-white);
        display: flex;
        align-items: center;
        justify-content: center;
        
        a {
            color: var(--gray);
            text-decoration: none;
            text-transform: capitalize;
            font-size: var(--fontSize-sm);
            font-weight: var(--fontWRegular);
        }
    }

    .logout-container {
        justify-content: end;
    }

    .user-profile {
        justify-content: start;
    }

    .dashboard-logout-btn {
        color: var(--bg-white);
        border: 1px solid var(--bg-white);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.user-profile-modal-container {
    display: none;
    animation-name: fadeIn;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
}

.user-profile-modal-container[data-visible = "true"] {
    display: block;
    position: absolute;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--modal-bg);
    display: flex;
    justify-content: center;
    align-items: center;

    .user-profile-modal {
        border-radius: 10px;
        padding: 1.5rem;
        background-color: var(--bg-white);
        width: 700px;
    }

    .user-profile-modal-title-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;

        h1 {
            font-size: var(--fontSize-md);
            font-weight: var(--fontWBold);
            color: var(--gray);
        }
    }

    .user-profile-model-info-container {
        display: flex;
        flex-direction: column;
    }

    .user-profile-model-info {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 1rem;
    }

    .user-profile-model-info-1 {
        display: flex;
        width: 100%;
        gap: 1rem;
    }

    .user-profile-model-info-2 {
        display: flex;
        width: 100%;
        gap: 1rem;
    }

    .user-profile-model-info-3 {
        display: flex;
        flex-direction: column;
        gap: .3rem;

        h1 {
            font-size: var(--fontSize-md);
            font-weight: var(--fontWBold);
            color: var(--gray);
        }

        p {
            padding: .5rem;
            border-radius: 10px;
            border: 1px solid var(--gray);
            width: 100%;
            color: var(--gray);
        }
    }

    .user-info {
        display: flex;
        flex-direction: column;
        gap: .3rem;

        h1 {
            font-size: var(--fontSize-md);
            font-weight: var(--fontWBold);
            color: var(--gray);
        }

        p {
            padding: .5rem;
            border-radius: 10px;
            border: 1px solid var(--gray);
            width: 200px;
            color: var(--gray);
        }
    }

    .user-profile-modal-close-icon, .user-profile-modal-edit-icon {
        cursor: pointer;
        width: 25px;
    }

    .user-profile-modal-close-icon {
        filter: var(--icon-clr);
    }

    .user-profile-modal-edit-icon {
        filter: var(--icon-blue);
    }
}

.section-1-container {
    display: flex;
    width: 100%;
    gap: 1rem;

    .section-1-card-container {
        display: flex;
        gap: 1rem;

        .section-1-card-borrowed {
            border-radius: 10px;
            background-color: var(--bg-white);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 1.5rem;
            padding-bottom: 3rem;
            width: 300px;
            height: 100%;

            h1 {
                width: 100%;
                font-size: var(--fontSize-md);
                font-weight: var(--fontWSemi);
                color: var(--gray);
            }

            div {
                display: flex;
                width: 50%;
                justify-self: center;
                align-self: center;

                h1 {
                    color: var(--blue);
                    font-weight: var(--fontWSemi);
                    font-size: 120px;
                    line-height: 100px;
                }

                span {
                    align-self: end;
                    color: var(--gray);
                    font-size: var(--fontSize-sm);
                    font-weight: var(--fontWSemi);
                }
            }
        }

        .section-1-card-requested {
            border-radius: 10px;
            background-color: var(--bg-white);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 1.5rem;
            padding-bottom: 3rem;
            width: 300px;
            height: 100%;

            h1 {
                width: 100%;
                font-size: var(--fontSize-md);
                font-weight: var(--fontWSemi);
                color: var(--gray);
            }

            div {
                display: flex;
                width: 50%;
                align-self: center;

                h1 {
                    color: var(--orange);
                    font-weight: var(--fontWSemi);
                    font-size: 120px;
                    line-height: 100px;
                }

                span {
                    align-self: end;
                    color: var(--gray);
                    font-size: var(--fontSize-sm);
                    font-weight: var(--fontWSemi);
                }
            }
        }
    }
}

.table-container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: var(--bg-white);
    padding: 1rem 2rem;

    h1 {
        font-size: var(--fontSize-lg);
        color: var(--gray);
        font-weight: var(--fontWSemi);
    }

    .table-title-container {
        display: flex;
        gap: 1rem;

        h1, h2 {
            cursor: pointer;
            font-size: var(--fontSize-lg);
            color: var(--gray);
            font-weight: var(--fontWSemi);
            transition: color 0.3s ease;
        }

        .title-clicked {
            color: var(--blue);
        }
    }

    .table[data-visible="true"] {
        display: block;
    }

    .table {
        animation-name: fadeIn;
        animation-duration: 0.3s;
        animation-timing-function: ease-in-out;
        display: none;
        margin-top: 1rem;
        width: 100%;
        height: 300px;
        overflow-y: scroll;
        
        table {
            width: 100%;
            max-height: 10px;
            border-spacing: 0px;

            thead {
                th {
                    color: var(--gray);
                    width: 20%;
                    border-collapse: collapse;
                    padding: 20px 0;
                    border-bottom: 2px solid var(--gray);
                }
            }

            tbody {
                tr {
                    padding: 0 .5rem;
                    text-align: center;
                    cursor: pointer;

                    td {
                        color: var(--gray);
                        padding: 15px 0;

                    }
                }

                .table-row.active {
                    background-color: #5e5e5e48;
                }

                .table-row-no-result {
                    padding: 1rem 2rem;
                    text-align: center;
                    font-weight: var(--fontWBold);
                    color: var(--gray);
                }
            }
        }
    }
}

.table-container.section-1-table-container {
    width: 100%;
    
    .table.section-1-table {
        display: block;
        height: 150px;
    }
}

main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}